@font-face {
  font-family: 'freshPrince';
  src: url('./the-fresh-prince.otf');
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.title {
  font-family: 'freshPrince', sans-serif;
  font-size: 8em;
  margin-top: 10px;
  margin-bottom: 30px;
  letter-spacing: 7px;
  text-shadow: 1px 1px 1px white,
               3px 3px 5px #FF5722;
}

.input-field {
  margin-right: 10px;
  width: 300px;
  height: 20px;
  text-indent: 5px;
  border: 2px solid #FF5722;

}

.submit-button {
  border-radius: 15px;
  background: #FF5722;
  border: 2px solid #FF5722;
  color: white;
  padding: 6px;
}

.submit-button:hover {
  background: white;
  border: 2px solid #FF5722;
  color: #FF5722;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #FF5722;
}

.short-url {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-container {
  margin-top: 30px;
}

.search-container {
  align-items: center;
  display: inline-flex;
}

.search-field {
  width: 200px;
  height: 20px;
  text-indent: 5px;
  border: 2px solid #FF5722;
}

.pop-sort {
  display: inline-flex;
  flex-direction: row;
}

.date-sort {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.sort-button {
  margin-bottom: 10px;
  margin-left: 10px;
  background: #FF5722;
  border-radius: 15px;
  color: white;
  width: 100px;
}

.sort-button:hover {
  background: white;
  border: 2px solid #FF5722;
  color: #FF5722;
}

.url-table {
  margin: auto;
  margin-top: 20px;
}

.table-headers {
  margin-left: 20px;
  width: 150px;
  border-bottom: 1px solid #FF5722;
  padding-bottom: 5px;
}

.url-row {
  height: 35px;
}
